
<div style="margin-bottom: 20px;">
  <span>Training Period Start:</span>&nbsp;
<input pInputText pKeyFilter="int" placeholder="" />
<span style="margin-left: 200px;">Default Alarm Multiplier: </span>&nbsp;
<input pInputText pKeyFilter="int" placeholder="" />

<button style="margin-left: 120px; padding: 10px; background-color: green; color: white;font-weight: bold;">Save Changes / Re-Train Alarms</button>
</div>

<div>
  <span>Training Period End:</span>&nbsp;
<input pInputText pKeyFilter="int" placeholder="" />
<span style="margin-left: 200px;">Default Alert Multiplier:</span>&nbsp;
<input pInputText pKeyFilter="int" placeholder="" />
</div>


<div style="background-color: #f8f9fa; margin-top: 15px; padding: 1rem 1rem; border: 1px solid #dee2e6;"><h2 style="margin: 0 !important;">spectrum based alarms</h2></div>
<p-table [value]="products.spectrum_thresholds" dataKey="name" styleClass="p-datatable-gridlines"  [tableStyle]="{'width': '100%'}">
  <ng-template pTemplate="header" >
    <!-- <tr>
      <th>spectrum based alarms</th>
   </tr> -->
      <tr>
         <th></th>
          <th class="w50">Name</th>
          <th class="w10">Acceleration/ Velocity</th>
          <th class="w10">Hz/Orders</th>
          <th class="w10">Frequency Center</th>
          <th class="w10">Band Width</th>
          <th class="w10">Alarm Type (High/Low)</th>
          <th></th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product let-expanded="expanded" let-rowIndex="rowIndex">
      <tr>
          <td>
              <a type="button" pButton pRipple [pRowToggler]="product" class="p-button-text p-button-rounded p-button-plain">
              <i [ngClass]="expanded 
                ? 'pi pi-fw pi-chevron-circle-down' 
                : 'pi pi-fw pi-chevron-circle-right'"></i> </a>
          </td>
          <td class="text-center">{{"order " + (rowIndex + 1)}}</td>
          <!-- <td></td>
          <td></td> -->
          <td class="text-center">
            <p-dropdown [options]='["Acceleration","Velocity"]'  [editable]="true"   placeholder="Select value"></p-dropdown>
          </td>
          <td class="text-center">
            <p-dropdown [options]='["Hz","Orders"]'  [editable]="true"   placeholder="Select value"></p-dropdown>
          </td>
          <td >{{product.category}}</td>
          <td >{{product.rating}}</td>
          <td >{{product.category}}</td>
          <td></td>
          <!-- <td><p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating></td> -->
      </tr>
  </ng-template>
  <ng-template pTemplate="rowexpansion" let-product let-rowIndex="rowIndex">
      <tr>
        <td></td>
          <td colspan="12" style="padding: 0 !important;">
              <div class="p-3">
                  <p-table  [tableStyle]="{'width': '100%'}"[value]="product.threshold_info.location_1.axis | keyvalue" dataKey="id" styleClass="p-datatable-gridlines">
                      <ng-template pTemplate="header">
                          <tr>
                              <th class="w20">Sensor Location</th>
                              <th class="w10">Automatic / Manual</th>
                              <th class="w10">Alarm On</th>
                              <th class="w10">Alert On</th>

                              <th class="w10">Alarm Multiplier Type</th>
                              <th class="w10">Alarm Multiplier
                              </th>
                              <th class="w10"> Alert Multiplier
                              </th>
                              <th class="w10">Alarm Value
                              </th>
                              <th class="w10"> Alert Value
                              </th >
                              <th><button (click)="onDelete1(rowIndex)"><i class="pi pi-trash" style="font-size: 2rem"></i></button></th>
                              <!-- <th style="width: 4rem"></th> -->
                          </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-order>
                          <tr>
                              <td class="text-center">{{order.value.sensor_location}}</td>
                              <td class="text-center">
                                <p-dropdown [options]='["Automatic","Manual","Caluclated"]'  [editable]="true"   placeholder="Select value"></p-dropdown>
                              </td>
                              <td class="text-center">
                                <p-dropdown [options]='["YES","NO"]'  [editable]="true"   placeholder="Select value"></p-dropdown>
                              </td>
                              <td class="text-center">
                                <p-dropdown [options]='["YES","NO"]'  [editable]="true"   placeholder="Select value"></p-dropdown>
                              </td>
                              <td class="text-center">
                                <p-dropdown [options]='["Default","N/A","Custom"]'  [editable]="true"   placeholder="Select value"></p-dropdown>
                              </td>
                              <td class="text-center">
                                <p-dropdown [options]='["Default","N/A","Custom"]'  [editable]="true"   placeholder="Select value"></p-dropdown>
                              </td>
                              <td class="p-inputtext-sm">
                                <input type="text" style="border: 0px;  height: 40px;" size="13" pInputText [name]="'quantite_'" pKeyFilter="num">
                              </td>
                              <td class="p-inputtext-sm">
                                <input type="text" style="border: 0px;  height: 40px;" size="13" pInputText [name]="'quantite_'" pKeyFilter="num">
                              </td>
                              <td class="p-inputtext-sm">
                                <input type="text" style="border: 0px;  height: 40px;" size="13" pInputText [name]="'quantite_'" pKeyFilter="num">
                              </td>
                              <td></td>
                          </tr>
                      </ng-template>
                  </p-table>
              </div>
          </td>
      </tr>
  </ng-template>
</p-table>
<button style="margin-bottom: 20px; background-color: blue;  color: white; font-weight: bold;" (click)="onAdd1()">Add New (+)</button>

<div style="background-color: #f8f9fa; margin-top: 15px; padding: 1rem 1rem; border: 1px solid #dee2e6;"><h2 style="margin: 0 !important;">Component based alarms</h2></div>
<p-table  [value]="products.component_thresholds" dataKey="name" styleClass="p-datatable-gridlines" [tableStyle]="{'width': '100%'}">
  <ng-template pTemplate="header">
   
      <tr>
         <th></th>
          <th class="w50">Name</th>
          <th class="w10">Acceleration/ Velocity</th>
          <th class="w10">Hz/Orders</th>
          <th class="w10">Frequency Center</th>
          <th class="w10">Band Width</th>
          <th class="w10">Alarm Type (High/Low)</th>
          <th></th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product let-expanded="expanded">
      <tr>
          <td>
              <a type="button" pButton pRipple [pRowToggler]="product" class="p-button-text p-button-rounded p-button-plain">
              <i [ngClass]="expanded 
                ? 'pi pi-fw pi-chevron-circle-down' 
                : 'pi pi-fw pi-chevron-circle-right'"></i> </a>
          </td>
          <td class="text-center">{{product.name}}</td>
          <td class="text-center">
            <p-dropdown [options]='["Acceleration","Velocity"]'  [editable]="true"   placeholder="Select value"></p-dropdown>
          </td>
          <td class="text-center">
            <p-dropdown [options]='["Hz","Orders"]'  [editable]="true"   placeholder="Select value"></p-dropdown>
          </td>
          <td >{{product.category}}</td>
          <td >{{product.rating}}</td>
          <td >{{product.category}}</td>
          <td></td>
          <!-- <td><p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating></td> -->
      </tr>
  </ng-template>
  <ng-template pTemplate="rowexpansion" let-product let-rowIndex="rowIndex">
      <tr>
        <td></td>
          <td colspan="12" style="padding: 0 !important;">
              <div class="p-3">
                  <p-table  [tableStyle]="{'width': '100%'}"[value]="product.threshold_info.location_1.axis | keyvalue" dataKey="id" styleClass="p-datatable-gridlines">
                      <ng-template pTemplate="header">
                          <tr>
                              <th class="w20">Sensor Location</th>
                              <th class="w10">Automatic / Manual</th>
                              <th class="w10">Alarm On</th>
                              <th class="w10">Alert On</th>

                              <th class="w10">Alarm Multiplier Type</th>
                              <th class="w10">Alarm Multiplier
                              </th>
                              <th class="w10"> Alert Multiplier
                              </th>
                              <th class="w10">Alarm Value
                              </th>
                              <th class="w10"> Alert Value
                              </th >
                              <th><button (click)="onDelete2(rowIndex)"><i class="pi pi-trash" style="font-size: 2rem"></i></button></th>
                              <!-- <th style="width: 4rem"></th> -->
                          </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-order let-ind="rowIndex">
                          <tr>
                              <td class="text-center">{{order.value.sensor_location}}</td>
                              <td class="text-center">
                                <p-dropdown [options]='["Automatic","Manual","Caluclated"]'  [editable]="true"   placeholder="Select value"></p-dropdown>
                              </td>
                              <td class="text-center">
                                <p-dropdown [options]='["YES","NO"]'  [editable]="true"   placeholder="Select value"></p-dropdown>
                              </td>
                              <td class="text-center">
                                <p-dropdown [options]='["YES","NO"]'  [editable]="true"   placeholder="Select value"></p-dropdown>
                              </td>
                              <td class="text-center">
                                <p-dropdown [options]='["Default","N/A","Custom"]'  [editable]="true"   placeholder="Select value"></p-dropdown>
                              </td>
                              <td *ngIf="ind!=2" class="text-center">N/A</td>
                              <td  *ngIf="ind==2"class="p-inputtext-sm">
                                <input type="text" style="border: 0px;  height: 40px;" size="13" pInputText [name]="'quantite_'" pKeyFilter="num">
                              </td>
                              <td class="text-center">N/A</td>
                              <td class="p-inputtext-sm">
                                <input type="text" [readOnly]="ind%2==0" style="border: 0px;  height: 40px;" size="13" pInputText [name]="'quantite_'" pKeyFilter="num">
                              </td>
                              <td class="p-inputtext-sm">
                                <input type="text" style="border: 0px;  height: 40px;" size="13" pInputText [name]="'quantite_'" pKeyFilter="num">
                              </td>
                              <td></td>
                          </tr>
                      </ng-template>
                  </p-table>
              </div>
          </td>
      </tr>
  </ng-template>
</p-table>
<button style="margin-bottom: 20px; background-color: blue;  color: white; font-weight: bold;" (click)="onAdd2()">Add New (+)</button>

<div style="background-color: #f8f9fa; margin-top: 15px; padding: 1rem 1rem; border: 1px solid #dee2e6;"><h2 style="margin: 0 !important;">Trended Metric Alarms</h2></div>
<p-table [value]="products.summary_statistics" dataKey="name" styleClass="p-datatable-gridlines" [tableStyle]="{'width': '100%'}">
  <ng-template pTemplate="header">
    
      <tr>
         <th></th>
          <th class="w10">Alarm Type</th>
          <th class="w10">Data Type (Short or Long Interval)</th>
          <th class="w10">Alarm Type (High/Low)</th>
          <th class="w10"></th>
          <th class="w10"></th>
          <th class="w10"></th>
          <th class="w10"></th>
          <th class="w10"></th>
          <th class="w20"></th>

      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product let-expanded="expanded">
      <tr>
          <td>
              <a type="button" pButton pRipple [pRowToggler]="product" class="p-button-text p-button-rounded p-button-plain">
              <i [ngClass]="expanded 
                ? 'pi pi-fw pi-chevron-circle-down' 
                : 'pi pi-fw pi-chevron-circle-right'"></i> </a>
          </td>
          <td class="text-center">{{product.name}}</td>
          <td class="text-center">
            <p-dropdown [options]='["Acceleration","Velocity"]'  [editable]="true"   placeholder="Select value"></p-dropdown>
          </td>
          <td class="text-center">
            <p-dropdown [options]='["Hz","Orders"]'  [editable]="true"   placeholder="Select value"></p-dropdown>
          </td>
          <td >{{product.category}}</td>
          <td >{{product.rating}}</td>
          <td >{{product.category}}</td>
          <td></td>
          <td></td>
          <td></td>
          <!-- <td><p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating></td> -->
      </tr>
  </ng-template>
  <ng-template pTemplate="rowexpansion" let-product let-rowIndex="rowIndex">
      <tr>
        <td></td>
          <td colspan="12" style="padding: 0 !important;">
              <div class="p-3">
                  <p-table  [tableStyle]="{'width': '100%'}"[value]="product.threshold_info.location_1.axis | keyvalue" dataKey="id" styleClass="p-datatable-gridlines">
                      <ng-template pTemplate="header">
                          <tr>
                              <th class="w10">Sensor Location</th>
                              <th class="w10">Automatic / Manual</th>
                              <th class="w10">Alarm On</th>
                              <th class="w10">Alert On</th>
                              <th class="w10">Alarm Multiplier Type</th>
                              <th class="w10">Alarm Multiplier
                              </th>
                              <th class="w10"> Alert Multiplier
                              </th>
                              <th class="w10">Alarm Value
                              </th>
                              <th class="w20"> Alert Value
                              </th >
                              <th><button (click)="onDelete3(rowIndex)"><i class="pi pi-trash" style="font-size: 2rem"></i></button></th>
                              <!-- <th style="width: 4rem"></th> -->
                          </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-order>
                          <tr>
                              <td class="text-center">{{order.value.sensor_location}}</td>
                              <td class="text-center">
                                <p-dropdown [options]='["Automatic","Manual","Caluclated"]'  [editable]="true"   placeholder="Select value"></p-dropdown>
                              </td>
                              <td class="text-center">
                                <p-dropdown [options]='["YES","NO"]'  [editable]="true"   placeholder="Select value"></p-dropdown>
                              </td>
                              <td class="text-center">
                                <p-dropdown [options]='["YES","NO"]'  [editable]="true"   placeholder="Select value"></p-dropdown>
                              </td>
                              <td class="text-center">{{order.value.sensor_location}}</td>
                              <td class="text-center">{{order.value.sensor_location}}</td>
                              <td class="text-center">{{order.value.sensor_location}}</td>
                              <td class="text-center">{{order.value.sensor_location}}</td>
                              <td class="text-center">{{order.value.sensor_location}}</td>
                              <td></td>
                          </tr>
                      </ng-template>
                  </p-table>
              </div>
          </td>
      </tr>
  </ng-template>
</p-table>
<button style="margin-bottom: 20px; background-color: blue;  color: white; font-weight: bold;" (click)="onAdd3()">Add New (+)</button>
